doctype html 

html 
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/style.css?v=1.1')
		link(rel='icon' href='/favicon.ico')
		//- title #{title || 'Website title'}
		title= typeof pageTitle !== 'undefined' ? pageTitle : `WebsiteName | ${title}`
		
	body
		// Header
		include be_header
		
		
		// Content
		block content 
			h1 Placeholder in Base
		
		// Footer
		//- include be_footer
		
		script(src="https://js.stripe.com/v3/")
		script(src='/js/bundle.js')

		
