footer 

	.footer
	
		.footer--box
	
		
			.footer--logo-box
			
				.footer--logo-box--text
					a(href="/") 
						img(src='/img/logo/myLogo-footer.webp', alt='image', class='header__logo' , loading="lazy")
					.footer-text-p
						p Custom-coded websites for local businesses in the Wide Bay region.
						p No templates. No WordPress lock-in.
				.footer--copyright
					p &copy; Copyright 2026
			
			.footer--services-box
				p.footer--box-heading Services 
				ul 
					li Small Business Websites
					li Online Stores
					li Dynamic Websites
					li Booking / Enquiry Websites
				
			.footer--links-box
				p.footer--box-heading Quick Links
				ul 
					li 
						a(href='/' class='') Home
					li 
						a(href='/static/services' class='') Services
					li 
						a(href='/static/about' class='') About
					li 
						a(href='/static/contact' class='') Contact
			
				
			.footer--contact-box
				p.footer--box-heading Contact 
				ul 
					li Bundaberg / Wide Bay, QLD
					li 
						a(href="mailto:widebaywebwise@gmail.com")  widebaywebwise@gmail.com
					li 
						a(href="tel:+61452210276")  0452210276
					li Available for New Projects