doctype html 

html 
	head
		//-- Google Tag Manager (early load)
		
		
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		meta(name="description" content=pageDescription)
		meta(name="keywords" content="Tshirts tees shirts clothing")
		meta(name="robots" content="index, follow")
		
		link(rel="canonical", href=canonicalUrl)
		
		link(rel='stylesheet', href='/css/style.css?v=1.1')
		
		
		//-- Preconnects (speed up external resources)
		
		
		
		//-- Preloads (critical assets)
		
		
			
		link(rel='icon' href='/favicon.ico')
		
		title= typeof pageTitle !== 'undefined' ? pageTitle : `WebsiteName | ${title}`
		
		
		
	body
		// Header
		include _header
		
		
		// Content
		block content 
			h1 Placeholder in Base
		
		
	

		script(defer src='/js/bundle.js')
		

		
