
extends base

block content 

	main.container
	
		section.aboutPage
		
			.aboutPage-heading--grid
			
				.aboutPage-heading--box

					h2.aboutPage-heading About Widebay Web Wise
					
					h3.aboutPage-sub-heading
						| Simple, Professional Websites Built for 
						span Local Businesses.
											
					.aboutPage-heading--box--text
						p  Widebay Web Wise exists because too many good local businesses are either hard to find online or stuck with a website that no longer reflects the quality of what they do. We help change that with websites built around real business needs.
						
						p Every site we build is custom coded from scratch. No WordPress, no templates, no page builders. Just clean, fast, professional websites built around what your business actually needs — and built to show up on Google.
						
						p We keep things simple, plain-spoken, and practical. No tech jargon, no lock-in contracts, and no disappearing after launch.
						
					.aboutPage-list--box
						ul.aboutPage-list--box--list
							li 
								img(src="/img/icons/wrench.svg", class='about-icon' alt="")
								strong Custom-built &nbsp; 
								| for your business
							li 
								img(src="/img/icons/device-mobile.svg",  class='about-icon'  alt="")
								strong Mobile-friendly &nbsp;
								| and modern
							li 
								img(src="/img/icons/local.svg",  class='about-icon'  alt="")
								strong Wide Bay local &nbsp;
								|- Bundaberg based, easy to reach
							li 
								img(src="/img/icons/headset.svg",  class='about-icon'  alt="")
								strong Ongoing support &nbsp;
								|— before and after launch

							
				.aboutPage-image--box
					.aboutPage-image--box--1
						img(src="/img/imgs/myImg.jpg", class='aboutPage--img' ,alt="")
					.aboutPage-image--box--2
						img(src="/img/imgs/inset-1.svg", class='aboutPage--img-2' alt="")
					
		section.portfolio 
			.aboutPage-heading--box
				h3.aboutPage-sub-heading Our Projects