
extends base

block content 

	main.servicesPage-block
	
		section.servicesPage
			
			.servicesPage-heading-box.container
				.servicesPage-heading-box-underline

					h1.servicesPage--heading Services
					hr.servicesPage-underline
				p Clean, fast websites for local businesses — no WordPress, no templates.

				p Local support • Built for you • You own it
				

						
			
		section.servicesPage-boxes.container
		
			.servicePage--grid
				a.serviceCardLink(href="/static/contact#contact-form")
					.servicePage--box
				
						.servicePage--box-heading--box
							.servicePage--box-heading--icon
								img(src="/img/icons/scroll.svg" class="servicesPage-icon" alt="scroll icon" , fetchpriority='high')
							.servicePage--box-heading--text
								h3.servicePage--box-heading One-Page Starter Site

						.servicePage--box-details--box
							p.servicePage--box-details For tradies/solo operators that need something live quickly.
							ul.servicePage--box-includes
								li Click-to-call + enquiry form
								li Clear services + service area shown
								li Looks great on phones


			
				a.serviceCardLink(href="/static/contact#contact-form")
					.servicePage--box
				
						.servicePage--box-heading--box
							.servicePage--box-heading--icon
								img(src="/img/icons/files.svg" class="servicesPage-icon" alt="files icon" , fetchpriority='high')
							.servicePage--box-heading--text
								h3.servicePage--box-heading Multi-Page Business Site

						.servicePage--box-details--box
							p.servicePage--box-details For businesses with multiple services or a bigger pitch.
							ul.servicePage--box-includes
								li Separate pages for each service
								li Stronger trust pages (About / FAQs)
								li Better Google visibility

			
				a.serviceCardLink(href="/static/contact#contact-form")
					.servicePage--box
			
						.servicePage--box-heading--box
							.servicePage--box-heading--icon
								img(src="/img/icons/database.svg" class="servicesPage-icon" alt="database icon" , fetchpriority='high')
							.servicePage--box-heading--text
								h3.servicePage--box-heading Dynamic Website

						.servicePage--box-details--box
							p.servicePage--box-details For businesses that need bookings, listings, or content that updates.
							ul.servicePage--box-includes
								li Editable content (services, pricing, posts)
								li Enquiries that save (database)
								li Optional upgrades (accounts, payments)
								
		section.servicesPage-included.container
		
			

		section.servicesPage-cta.container
			.servicesPage--link
				p All sites include SEO foundations, mobile-friendly design, and fast loading.
			
				a.header__cta-link(href="/static/contact")  Take Your First Step ▶