
style.

	*,
	*::before,
	*::after {
		
	  margin: 0;
	  padding: 0;
	  box-sizing: inherit;
		
	}

	html {
		
	  font-size: 62.5%;
	  box-sizing: border-box;
		font-family: 'Inter', sans-serif;
	}

	body{
		
		line-height: 1;		
		font-size:1.6rem;
	}

	header{
		
			background-color:#bbb;			
			margin-bottom:3rem;		
	}
	
	a:link,
	a:visited{
		
		display:inline-block;
		padding: .25rem .5rem;
		background-color: #bbb;
		font-size: 1.2rem;
		border-radius: 3px;
		color:#333;
		text-decoration:none;		
		margin-bottom:3rem;	
	}	
	
	.orderConfirm_header--img{
		
		display:flex;		
		align-items:center;
		justify-content:center;	
		
		margin-bottom:2rem;
		
	}
				
		.email_body h2{
			
			font-size:2.4rem;
		}
	
		
		.email_body  , .email_details {
			
			font-size:2rem;
			
			
		}
		
		.email_body{
			
			display:grid;
			grid-template-rows: repeat(3,1fr);
			gap:2rem;
			
			margin-bottom: 2rem;
	
			
		}
		
	  .email_details {
						
			display:grid;
			grid-template-rows:auto;
			gap:2rem;
			
			margin-bottom: 2rem;
		}
		
		
	a.mongoDb-link,
	a.mongoDb-link:visited {
		display: inline-block;
		padding: .6rem 1rem;
		background-color: #feae75;
		color: #071c40;
		text-decoration: none;
		border-radius: 3px;
	}
	
	
	
	@media only screen and (max-width: 400px) {
	.orderConfirm_header--img {
		margin-bottom: 1.6rem;
	}

	.orderConfirm_header--img img {
		width: 180px !important;
		max-width: 100%;
		height: auto;
	}

	.email_body h2 {
		font-size: 2rem;
	}

	.email_body,
	.email_details {
		font-size: 1.6rem;
	}

	.email_body {
		gap: 1.4rem;
		margin-bottom: 1.6rem;
	}

	.email_details {
		gap: 1.4rem;
		margin-bottom: 1.6rem;
	}

	a.mongoDb-link,
	a.mongoDb-link:visited {
		font-size: 1.4rem;
		padding: 0.8rem 1.2rem;
	}
}